<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? `${title} - ` : '' %>osu!completion</title>
    <meta name="description" content="<%= locals.description || '' %>">
    <meta property="og:site_name" content="osu!completion">
    <meta property="og:title" content="<%= locals.title || 'osu! completionist tracker and leaderboard' %>">
    <meta property="og:description"
        content="<%= locals.description || 'Track your osu! completion progress by mode, optionally choosing to include loved and converted maps, and compare your stats with others!' %>">
    <meta property="og:image" content="<%= locals.image || '' %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= locals.image || '' %>">
    <meta name="theme-color" content="#6EF79C">
</head>

<body data-page="<%= page %>">
    <%- include('pages/' + page) %>
</body>

</html>